@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
$color-primary: #000000;
$color-secondary: #FFC81B;
$color-tertiary: #F47F00;
$color-white: #FCFAFA;
$color-grey: #484848;
$font-poppins: 'Poppins', sans-serif;