.welcome-container {
    display: flex;
    justify-content: center;
    width: "70%";
    margin:1rem;
    & .card {
        border: none;
        padding-top:3rem;
        box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
        border-radius: 20px;
        background-color: $color-secondary;
        height: "auto";
        margin: 0;
    }
    &_button1 {
        border-radius: 50px;
        background-color: $color-grey;
        margin-right: 1rem;
        font-size: 1.5rem;
        width: 13rem;
        border:none;
        color: $color-white;
        font-weight: 600;;
        &:hover {
            background-color: $color-orange-dark;
        }
    }
}