.navbar-container {
  background-color: $color-primary !important;
  font-family: $font-poppins;
  &_text {
    color: $color-white;
    &:hover {
      color: $color-secondary;
    }
  }
  & a {
    font-size: 18px;
  }

  & button {
    border-radius: 20px;
    min-width: 148px;
    min-height: 44px;
    color: $color-primary;
    border: none;
  }
  &_button1 {
    background-color: $color-tertiary;
    margin-right: 1rem;
    &:hover {
      background-color: $color-secondary;
    }
  }
  &_button2 {
    background-color: $color-secondary;
    &:hover {
      background-color:  $color-tertiary;
    }
  }
  &_image {
    margin-right: 1rem;
  }

}

.navbar-container .navbar-brand.icon {
  margin-right: 10rem;
}

.container {
  margin: auto 1.5rem;
}
