.information-container {
  display: flex;
  align-items: center;
  color: $color-white;
  gap: 1rem;
  min-height: 450px;
  padding: 1.5rem;

  &_first,
  &_second {
    display: flex;
    height: 100%;
    width: 60%;
  }

  &_first {
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
  }

  &_second {
    justify-content: center;
    width: 40%;
    & img {
      width: 60%;
    }
  }

  &_title {
    font-size: 3.375rem;
  }

  &_title2,
  &_subtitle {
    color: $color-primary;
  }

  &_subtitle,
  &_subtitle1 {
    font-size: 1.5rem;
  }

  &_description {
    font-size: 1.25rem;
  }

  & button {
    border: none;
    border-radius: 50px;
    color: $color-primary;
    font-size: 24px;
    font-weight: 500;
    height: 56px;
    width: 195px;
  }

  &_subtitle1 {
    color: $color-white;
  }

  &_button1 {
    background-color: $color-white;
    margin-right: 1rem;
    &:hover {
      color: $color-white;
      background-color: $color-primary;
    }
  }
}
